html, body{
	min-height: 100vh;
	height: 100%;
}

.currentMarker{
	background: #4285f4;
	border: 3px solid #c5d3e9;
	border-radius: 50%;
}

.hide{
	display: none;
}

#infoView{
	z-index: 999;
}

#infoView svg{
	color: blue;
	width: 30px;
}